[submodule "Medjed.wiki"]
	path = Medjed.wiki
	url = https://github.com/openMLA/Medjed.wiki.git
[submodule "assembly"]
	path = assembly
	url = https://github.com/openMLA/medjed-assembly.git
[submodule "pcb"]
	path = pcb
	url = https://github.com/openMLA/medjed-pcb.git
